@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-zinc-100 font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/50 backdrop-blur-md border border-white/5;
  }
}